.nav__container {
  display: flex;
  justify-content: center;
  background: #ebd8ff;
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  padding: 20px 0px;

  @media screen and (max-width: 768px) {
    justify-content: left;
  }
}

.menu__icon {
  display: none; /* Початково ховаємо бургер-меню на десктопних розмірах */
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 30; /* Виводимо навігацію та закриття бургера поверх overlay */

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 40px 20px;
  }
}

.nav__link {
  font-size: 26px;
  color: #373737;
  text-decoration: none;
  transition: var(--timing);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #5cd3a8;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus,
  &:hover {
    color: #373737;
  }
}

.open {
  display: flex; /* Показуємо навігацію, коли бургер-меню відкрите */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0; /* Колір фону overlay */
  z-index: 20; /* Забезпечуємо виведення overlay під навігацією та закриттям бургера */
}

@media screen and (max-width: 767px) {
  .menu__icon {
    display: block; /* Показуємо бургер-меню при менших розмірах екрану */
    cursor: pointer;
    z-index: 30; /* Виводимо закриття бургера поверх overlay */
    position: relative;
  }

  .nav__list {
    display: none; /* Ховаємо навігацію при менших розмірах екрану */
  }

  .open {
    display: flex; /* Показуємо навігацію, коли бургер-меню відкрите */
  }
}
