.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #ebd8ff;
  box-shadow: var(--small-shadow);

  @media screen and (max-width: 768px) {
    justify-content: left;
  }
}

.menu__icon {
  display: none;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 30;
  padding: 20px 10px;

  @media screen and (min-width: 1280px) {
    padding: 40px 20px;
  }
}

.nav__link {
  font-size: 26px;
  color: #373737;
  text-decoration: none;
  transition: var(--timing);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--active-button);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus,
  &:hover {
    color: #373737;
  }
}

.open {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .menu__icon {
    display: block;
    cursor: pointer;
    z-index: 30;
    position: relative;
  }

  .nav__list {
    display: none;
  }

  .open {
    display: flex;
  }
}
